/* ################ MAIN CSS ################ */
:root{
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 700px) {
  :root{
    font-size: 10px;
  }
}
.text-uppercase{
  text-transform: uppercase;
}
body{
  background-color: rgba(255,255,255,1);
  overflow: hidden;
}

.sidecontent{
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.sidecontent img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.content{
  position: absolute;
}

/* ################ START NAVI CSS ################ */
header{
  background-color: rgba(251,251,251,1);
}
.yourhome-logo{
  width: 40rem;
  max-width: 34%;
  padding-right: 3rem;
}
nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-bar{
  padding: 0 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.nav-bar-left{
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 3rem 0;
}
.navigation{
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(42,42,42,1);
  font-size: 2rem;
  padding-left: 2rem;
}
.dropdown-menu-content p{
  text-transform: uppercase;
}
/* DROPDOWN MENU */
.dropdown-menu-content  p{
  text-decoration: none;
  padding-right: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* ################ HERO PICTURE CSS ################ */
.hero-container{
padding-bottom: 1.5rem;
}
.cd-teaser{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
}

.d-teaser{
  max-width: 49%;
  margin-left: auto;
}
.d1-teaser{
  padding: 0 0 2rem 1.5rem;
}
.d2-teaser{
  padding: 2rem 0 0 1.5rem ;
}
.c-teaser{
  padding-right: 1.5rem;
  max-width: 49%;
}
