.animationBox{
  background-color: rgba(255,255,255,1);
  z-index: 3;
  width: 100%;
  height: 300vh;
  position: absolute;
}

div.animationLogo{
  padding-top: 11%;
  max-width: 410px;
  margin: 0px auto;
  position: relative;
}
div.textBox{
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#size-svg-all{
  width: 500px;
  height: auto;
}
#houseSvgDiv{
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 99;
}
.divlogo-noHouse{
  width: 500px;
  height: 500px;
  position: absolute;
  top: -58px;
}
#house-logo{
  width: 500px;
  z-index: 1;
}
#box{
  position: relative;
}
#home{
  display: none;
}
#your{
  display: none;
}
.livingroom{
  width: 140px;
  -webkit-transform: matrix(1, 0, 0, 1, 158, -55);
  transform: matrix(1, 0, 0, 1, 158, -55);
}
.bedroom{
  width: 140px;
  -webkit-transform: matrix(1, 0, 0, 1, 270, -73);
  transform: matrix(1, 0, 0, 1, 270, -73);
}
.kitchen{
  width: 140px;
  -webkit-transform: matrix(1, 0, 0, 1, 158, -96);
  transform: matrix(1, 0, 0, 1, 158, -96);
}

/* LIVINGROOM FORNITURE */
img#LR-SL, img#LR-SR, img#LR-S,
img#LR-T, img#LR-U, img#LR-L,
img#LR-K, img#LR-CT{
  width: 10px;
  position: absolute;}

img#LR-SL{  z-index: 1;}
img#LR-SR{  z-index: 2;}
img#LR-T{   z-index: 3;}
img#LR-S{   z-index: 4;}
img#LR-CT{  z-index: 5;}

/* KITCHEN FORNITURE */
img#K-AB, img#K-AH, img#K-B,
img#K-Ks, img#K-KSL, img#K-KSR,
img#K-L, img#K-SL, img#K-SR, img#K-T{
 width: 10px;
 position: absolute;
}

img#K-AB{   z-index: 1;}
img#K-KR{   z-index: 2;}
img#K-Ks{   z-index: 3;}
img#K-KSL{  z-index: 4;}
img#K-SL{   z-index: 5;}
img#K-SR{   z-index: 6;}
img#K-T{    z-index: 7;}
img#K-SL{   z-index: 8;}

/* BEDROOM FORNITURE */
img#BR-B, img#BR-K, img#BR-S,
img#BR-ST, img#BR-T, img#BR-R{
 width: 10px;
 position: absolute;}


img#BR-B{   z-index: 1;}
img#BR-K{   z-index: 2;}
img#BR-ST{  z-index: 3;}
img#BR-S{   z-index: 4;}
img#BR-T{   z-index: 5;}
img#BR-R{   z-index: 6;}

.clickme{ width: 150px;}
#clickMeAgain{ width: 150px;}

#startText, #endText{
text-align: center;
font-family: 'Kaushan Script', cursive;
color: #FF554F;
font-size: 35pt;
position: absolute;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

#startText span, #endText span{
  padding:0 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
