<div class="animation">
  <div class="textBox">
    <div id="startText">
      <span><p>F</p><p>o</p><p>r</p><p>n</p><p>i</p><p>t</p><p>u</p><p>r</p><p>e</p></span>
      <span><p>t</p><p>h</p><p>a</p><p>t</p></span>
      <span><p>b</p><p>i</p><p>t</p><p>s</p></span>
      <span><p>y</p><p>o</p><p>u</p><p>r</p></span>
      <span><p>l</p><p>i</p><p>f</p><p>e</p><p>.</p></span>
    </div>
    <div id="endText">
        <span><p class="upDown">y</p><p class="downUp">o</p><p class="upDown">u</p><p class="downUp">r</p><p class="upDown">h</p><p class="downUp">o</p><p class="upDown">m</p><p class="downUp">e</p>
        <p class="upDown">.</p><p class="downUp">.</p></span>
        <span><p class="upDown">y</p><p class="downUp">o</p><p class="upDown">u</p><p class="downUp">r</p></span>
        <span><p class="upDown">H</p><p class="downUp">o</p><p class="upDown">m</p><p class="downUp">e</p></span>
        <span><p class="upDown">&</p></span>
        <span><p class="downUp">L</p><p class="upDown">i</p><p class="downUp">v</p><p class="upDown">i</p><p class="downUp">n</p><p class="upDown">g</p></span>
        <span><p class="downUp">e</p><p class="upDown">x</p><p class="downUp">p</p><p class="upDown">e</p><p class="downUp">r</p><p class="upDown">t</p><p class="downUp">!</p></span>
    </div>
  </div>
  <div class="box">
  <div id="viewSize-svg-solo">
    <!-- logo solo -->
    <svg id="size-logo-solo" version="1.1" id="yourhome" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="-230 -200 836 726" enable-background="new 0 0 130 144" xml:space="preserve">
        <g id="housesvg">
          <g id="roof">
            <polygon fill="#8E3030" points="8,46 66,20.2 66,7 8,32.9 	"/>
            <polygon fill="#EA5853" points="124,46 66,20.2 66,7 124,32.9 	"/>
          </g>
           <g id="base">
             <polygon fill="#8E3030" points="14,54.7 14,114.9 66,137.9 66,77.7 	"/>
             <polygon fill="#EA5853" points="118,54.7 118,114.9 66,137.9 66,77.7 	"/>
           </g>
        </g>
    </svg>
  </div>
  <!-- ################################# -->
  <div class="viewSize-svg-noHouse">
    <svg class="size-logo-nohouse" version="1.1" id="yourhome" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="70 0 734 775" enable-background="new 0 0 583 144" xml:space="preserve">
        <g id="your">
          <path fill="#8B8681" d="M9.8,125.6c0-5,3.5-8.9,9.6-8.9c4.9,0,7,4,7,8.1c0,3-2.4,5.1-4.7,6.2c1.3,0.7,2.2,1.2,3.7,1.2
            c6.2,0,10.9-4.7,13.4-18.9L16.6,58.4H5.5v-6.2h34.4v6.2H29.8L46,102.1l13.8-43.8h-9.3v-6.2h28.7v6.2h-9.6l-19.2,53.8
            C43.6,131.9,36.7,138,27.1,138C16.9,138,9.8,132.9,9.8,125.6z"/>
          <path fill="#8B8681" d="M78.7,82c0-17.8,10.8-31.5,29.1-31.5c18.3,0,29,13.7,29,31.5c0,17.6-10.7,31.4-28.9,31.4
            C89.6,113.5,78.7,99.8,78.7,82z M91.4,82.7c0,14.2,6.2,23.6,16.4,23.6c10.1,0,16.1-9.7,16.1-23.6c0-14.5-4.8-25.6-16.2-25.6
            C96.3,57.2,91.4,68.2,91.4,82.7z"/>
          <path fill="#8B8681" d="M190.9,101c-5.5,9.7-13.2,12.5-20.1,12.5c-6.7,0-18.7-2.3-18.7-21.6V58.4h-10.5v-6.2H164v39.6
            c0,10,3.2,13.9,9.7,13.9c7.1,0,16.8-7.4,16.8-14.7V58.4h-10.1v-6.2h22.2v53.5l10.8,1.2v5.1l-22.5,1.6V101z"/>
          <path fill="#8B8681" d="M220,112v-6.2h10.9V58.4H220v-6.2l21.1-0.9l1.5,13c1.6-5.6,6.6-13.7,16.1-13.7c5.6,0,11,3.2,11,9.6
            c0,6.2-4.3,9.1-8.5,9.1c-4,0-7.9-2.6-7.9-7.4c0-2.6,2.3-4.9,2.3-4.9c-9.4,0-12.7,12.6-12.7,23v25.8h12.5v6.2H220z"/>
        </g>
        <g id="home">
            <path fill="#EA5853" d="M334.6,105.7h12v6.2h-34.8v-6.2h10.8V71.2c0-9.1-4-12.8-8.9-12.8c-7.5,0-17.2,8.8-17.2,20.2v27.1h10.9v6.2
            h-33.1v-6.2h10.3V34.9h-10.9V28h22.9v34.7c4.5-9.1,12.9-12.2,19.6-12.2c6.4,0,18.5,2,18.5,21.1V105.7z"/>
            <path fill="#EA5853" d="M348,82c0-17.8,10.8-31.5,29.1-31.5s29,13.7,29,31.5c0,17.6-10.7,31.4-28.9,31.4
              C358.9,113.5,348,99.8,348,82z M360.8,82.7c0,14.2,6.2,23.6,16.4,23.6c10.1,0,16.1-9.7,16.1-23.6c0-14.5-4.8-25.6-16.2-25.6
              S360.8,68.2,360.8,82.7z"/>
            <path fill="#EA5853" d="M442.1,112h-32.4v-6.2h10.9V58.4h-10.9v-6.2l21.1-0.9l1.4,12.2c3.2-9.5,11.9-12.8,18.8-12.8
              c5.5,0,13,0.9,16.1,11.9c3.9-8.8,11-11.9,17.8-11.9c6.7,0,18.5,2.3,18.5,21.7v33.5h10.3v6.2h-31.3v-6.2h9V72.3
              c0-10-4.3-14.2-10.6-14.2c-8.1,0-12.5,5.7-12.5,13v34.5h9.6v6.2h-31.2v-6.2h9.6V72.3c0-10-4.3-14.2-10.6-14.2
              c-11.1,0-13.1,10.8-13.1,21.1v26.4h9.6V112z"/>
            <path fill="#EA5853" d="M544.3,50.5c15.1,0,27,10.7,27.3,30.7h-43v0.4c0,12.4,5.2,23.4,17.5,23.4c7.2,0,15.3-4.6,17.8-13.8l6.5,2.1
              c-2.8,12-12,20.1-25.5,20.1c-18.8,0-29.1-15.2-29.1-30.7C515.9,66.1,525.9,50.5,544.3,50.5z M559.3,75.2
              c-0.3-10.9-6.7-18.1-14.7-18.1c-8.1,0-14.7,7.1-15.6,18.1H559.3z"/>
        </g>
    </svg>
  </div>
  <!-- ################################# -->
  <div class="livingroom" >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -7 1160.53 1302.84">
          <defs>
              <linearGradient id="linear-gradient" x1="564.15" y1="-9.31" x2="16.12" y2="939.91" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#f0e9ce"/>
                  <stop offset="0.01" stop-color="#efe7ca"/>
                  <stop offset="0.04" stop-color="#eae0b9"/>
                  <stop offset="0.08" stop-color="#e7dcae"/>
                  <stop offset="0.14" stop-color="#e6d9a7"/>
                  <stop offset="0.3" stop-color="#e5d8a5"/>
                  <stop offset="1" stop-color="#d9c97f"/>
              </linearGradient>
              <linearGradient id="linear-gradient-2" x1="742.31" y1="689.14" x2="998.48" y2="245.45" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d1be61"/>
                  <stop offset="0.29" stop-color="#d5c472"/>
                  <stop offset="0.61" stop-color="#d8c87c"/>
                  <stop offset="1" stop-color="#d9c97f"/>
              </linearGradient>
              <radialGradient id="radial-gradient" cx="670.6" cy="654.87" r="766.8" gradientTransform="translate(-9.22 21.27) scale(0.88)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff"/>
                  <stop offset="0.16" stop-color="#eff0f0"/>
                  <stop offset="0.4" stop-color="#dee0e0"/>
                  <stop offset="0.67" stop-color="#d4d6d7"/>
                  <stop offset="1" stop-color="#d1d3d4"/>
              </radialGradient>
              <radialGradient id="radial-gradient-2" cx="670.6" cy="654.87" r="766.8" gradientTransform="translate(-9.22 21.27) scale(0.88)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff"/>
                  <stop offset="1" stop-color="#dcddde"/>
              </radialGradient>
              <linearGradient id="linear-gradient-3" x1="386.84" y1="111.68" x2="644.74" y2="558.36" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d1d3d4"/>
                  <stop offset="1" stop-color="#bcbec0"/>
              </linearGradient>
              <linearGradient id="linear-gradient-4" x1="439.98" y1="88.58" x2="687.28" y2="516.92" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#dce8f7"/>
                  <stop offset="1" stop-color="#f4fbfe"/>
              </linearGradient>
              <linearGradient id="linear-gradient-5" x1="257.9" y1="186.13" x2="515.79" y2="632.81" xlink:href="#linear-gradient-3"/>
              <linearGradient id="linear-gradient-6" x1="311.03" y1="163.03" x2="558.33" y2="591.36" xlink:href="#linear-gradient-4"/>
              <linearGradient id="linear-gradient-7" x1="128.95" y1="260.58" x2="386.84" y2="707.26" xlink:href="#linear-gradient-3"/>
              <linearGradient id="linear-gradient-8" x1="182.08" y1="237.48" x2="429.38" y2="665.81" xlink:href="#linear-gradient-4"/>
              <linearGradient id="linear-gradient-9" x1="386.84" y1="111.68" x2="644.74" y2="558.36" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-3"/>
              <linearGradient id="linear-gradient-10" x1="439.98" y1="88.58" x2="687.28" y2="516.92" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-4"/>
              <linearGradient id="linear-gradient-11" x1="257.9" y1="186.13" x2="515.79" y2="632.81" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-3"/>
              <linearGradient id="linear-gradient-12" x1="311.03" y1="163.03" x2="558.33" y2="591.36" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-4"/>
              <linearGradient id="linear-gradient-13" x1="128.95" y1="260.58" x2="386.84" y2="707.26" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-3"/>
              <linearGradient id="linear-gradient-14" x1="182.08" y1="237.48" x2="429.38" y2="665.81" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" xlink:href="#linear-gradient-4"/>
              <linearGradient id="linear-gradient-15" x1="321.12" y1="954.93" x2="321.12" y2="881.15" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#e6e7e8"/>
                  <stop offset="1" stop-color="#d1d3d4"/>
              </linearGradient>
              <linearGradient id="linear-gradient-16" x1="233.68" y1="898.86" x2="233.68" y2="826.35" xlink:href="#linear-gradient-15"/>
              <linearGradient id="linear-gradient-17" x1="490.67" y1="851.77" x2="490.67" y2="779.26" xlink:href="#linear-gradient-15"/>
              <linearGradient id="linear-gradient-18" x1="848.04" y1="621.06" x2="757.63" y2="777.65" gradientTransform="matrix(-1, 0, 0, 1, 1160.53, 0)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d4c16c"/>
                  <stop offset="0.07" stop-color="#cab75d"/>
                  <stop offset="0.17" stop-color="#c0ad4f"/>
                  <stop offset="0.29" stop-color="#baa847"/>
                  <stop offset="0.5" stop-color="#b8a644"/>
                  <stop offset="0.54" stop-color="#bdab4b"/>
                  <stop offset="0.7" stop-color="#cebb63"/>
                  <stop offset="0.81" stop-color="#d4c16c"/>
                  <stop offset="0.87" stop-color="#d2bf69"/>
                  <stop offset="0.93" stop-color="#cbb85f"/>
                  <stop offset="0.98" stop-color="#bfad4e"/>
                  <stop offset="1" stop-color="#b8a644"/>
              </linearGradient>
              <linearGradient id="linear-gradient-19" x1="926.85" y1="898.86" x2="926.85" y2="826.35" xlink:href="#linear-gradient-15"/>
              <linearGradient id="linear-gradient-20" x1="669.86" y1="851.77" x2="669.86" y2="779.26" xlink:href="#linear-gradient-15"/>
              <linearGradient id="linear-gradient-21" x1="848.04" y1="621.06" x2="757.63" y2="777.65" gradientTransform="matrix(1, 0, 0, 1, 0, 0)" xlink:href="#linear-gradient-18"/>
              <linearGradient id="linear-gradient-22" x1="470.44" y1="857.41" x2="690.08" y2="857.41" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#95d6d8"/>
                  <stop offset="0.1" stop-color="#80cacd"/>
                  <stop offset="0.29" stop-color="#58b4b8"/>
                  <stop offset="0.45" stop-color="#40a7ab"/>
                  <stop offset="0.55" stop-color="#37a2a6"/>
                  <stop offset="0.75" stop-color="#39a3a7"/>
                  <stop offset="0.83" stop-color="#40a7ab"/>
                  <stop offset="0.88" stop-color="#4badb1"/>
                  <stop offset="0.92" stop-color="#5cb7ba"/>
                  <stop offset="0.96" stop-color="#72c3c6"/>
                  <stop offset="0.99" stop-color="#8dd2d4"/>
                  <stop offset="1" stop-color="#95d6d8"/>
              </linearGradient>
              <linearGradient id="linear-gradient-23" x1="580.26" y1="908.83" x2="580.26" y2="785.43" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#6ebbbf"/>
                  <stop offset="0.2" stop-color="#73c4c8"/>
                  <stop offset="0.5" stop-color="#78cdd1"/>
                  <stop offset="0.71" stop-color="#81d0d3"/>
                  <stop offset="1" stop-color="#95d6d8"/>
              </linearGradient>
              <linearGradient id="linear-gradient-24" x1="1045.89" y1="470.54" x2="1081.94" y2="532.99" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#cfa588"/>
                  <stop offset="0.06" stop-color="#cc9e82"/>
                  <stop offset="0.33" stop-color="#c3866e"/>
                  <stop offset="0.5" stop-color="#c07d67"/>
                  <stop offset="0.7" stop-color="#b7745f"/>
                  <stop offset="0.85" stop-color="#ad6a55"/>
                  <stop offset="1" stop-color="#c07d67"/>
              </linearGradient>
              <linearGradient id="linear-gradient-25" x1="-1243.42" y1="2096.58" x2="-1114.48" y2="2096.58" gradientTransform="translate(-1050 2722.69) rotate(180)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#afdfe1"/>
                  <stop offset="0.17" stop-color="#99d8db"/>
                  <stop offset="0.41" stop-color="#81d0d4"/>
                  <stop offset="0.55" stop-color="#78cdd1"/>
                  <stop offset="0.79" stop-color="#7aced2"/>
                  <stop offset="0.88" stop-color="#81d0d3"/>
                  <stop offset="0.94" stop-color="#8cd3d7"/>
                  <stop offset="0.99" stop-color="#9dd8dc"/>
                  <stop offset="1" stop-color="#a2dadd"/>
              </linearGradient>
              <radialGradient id="radial-gradient-3" cx="157.76" cy="856.11" r="57.75" gradientTransform="translate(-9.22 21.27) scale(0.88)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#8d3824"/>
                  <stop offset="0.11" stop-color="#9a4833"/>
                  <stop offset="0.25" stop-color="#a5533e"/>
                  <stop offset="0.45" stop-color="#aa5a44"/>
                  <stop offset="1" stop-color="#ac5c46"/>
              </radialGradient>
              <radialGradient id="radial-gradient-4" cx="158.11" cy="832.46" r="70.1" xlink:href="#radial-gradient-3"/>
              <radialGradient id="radial-gradient-5" cx="148.01" cy="793.86" r="76.13" xlink:href="#radial-gradient-3"/>
              <linearGradient id="linear-gradient-26" x1="64.47" y1="663.33" x2="193.42" y2="663.33" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d6eeee"/>
                  <stop offset="0.16" stop-color="#c3e7e8"/>
                  <stop offset="0.4" stop-color="#abdde0"/>
                  <stop offset="0.55" stop-color="#a2dadd"/>
                  <stop offset="0.78" stop-color="#a4dbde"/>
                  <stop offset="0.86" stop-color="#abdde0"/>
                  <stop offset="0.92" stop-color="#b6e2e4"/>
                  <stop offset="0.97" stop-color="#c7e8e9"/>
                  <stop offset="1" stop-color="#d6eeee"/>
              </linearGradient>
              <linearGradient id="linear-gradient-27" x1="977.29" y1="929.89" x2="977.29" y2="857.38" xlink:href="#linear-gradient-15"/>
              <linearGradient id="linear-gradient-28" x1="1128.29" y1="697.95" x2="967.11" y2="697.95" gradientTransform="matrix(1, 0, 0, 1, 0, 0)" xlink:href="#linear-gradient-25"/>
              <radialGradient id="radial-gradient-6" cx="900.07" cy="1166.29" r="112.28" xlink:href="#radial-gradient"/>
              <linearGradient id="linear-gradient-29" x1="936.86" y1="1049.46" x2="956.58" y2="1049.46" gradientTransform="matrix(-1, 0, 0, 1, 1725.39, 0)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#c7c8ca"/>
                  <stop offset="0.05" stop-color="#d3d4d5"/>
                  <stop offset="0.15" stop-color="#e4e5e5"/>
                  <stop offset="0.26" stop-color="#eeefef"/>
                  <stop offset="0.4" stop-color="#f1f2f2"/>
                  <stop offset="0.4" stop-color="#eeefef"/>
                  <stop offset="0.43" stop-color="#d3d4d4"/>
                  <stop offset="0.46" stop-color="#bebebe"/>
                  <stop offset="0.49" stop-color="#adadad"/>
                  <stop offset="0.53" stop-color="#a2a2a2"/>
                  <stop offset="0.59" stop-color="#9b9b9b"/>
                  <stop offset="0.75" stop-color="#999"/>
                  <stop offset="0.8" stop-color="#9f9f9f"/>
                  <stop offset="0.86" stop-color="#afafaf"/>
                  <stop offset="0.92" stop-color="#cacaca"/>
                  <stop offset="1" stop-color="#eff0f0"/>
                  <stop offset="1" stop-color="#f1f2f2"/>
              </linearGradient>
              <radialGradient id="radial-gradient-7" cx="819.61" cy="1051.69" r="144.82" gradientTransform="matrix(-0.88, 0, 0, 0.88, 1500.52, 21.27)" gradientUnits="userSpaceOnUse">
                  <stop offset="0.4" stop-color="#dba438"/>
                  <stop offset="0.56" stop-color="#dda63b"/>
                  <stop offset="0.7" stop-color="#e2ad46"/>
                  <stop offset="0.83" stop-color="#ecb857"/>
                  <stop offset="0.95" stop-color="#f9c770"/>
                  <stop offset="1" stop-color="#ffce7b"/>
              </radialGradient>
              <radialGradient id="radial-gradient-8" cx="937.59" cy="1017.74" r="107.49" gradientTransform="translate(-9.22 21.27) scale(0.88)" gradientUnits="userSpaceOnUse">
                  <stop offset="0.4" stop-color="#dba438"/>
                  <stop offset="0.64" stop-color="#edb95a"/>
                  <stop offset="0.86" stop-color="#fac872"/>
                  <stop offset="1" stop-color="#ffce7b"/>
              </radialGradient>
              <radialGradient id="radial-gradient-9" cx="818.18" cy="1041" r="17.54" xlink:href="#radial-gradient-8"/>
              <radialGradient id="radial-gradient-10" cx="901.99" cy="1142.59" r="129.43" gradientTransform="translate(-9.22 21.27) scale(0.88)" gradientUnits="userSpaceOnUse">
                  <stop offset="0.4" stop-color="#dba438"/>
                  <stop offset="0.69" stop-color="#dca53a"/>
                  <stop offset="0.8" stop-color="#e0a941"/>
                  <stop offset="0.87" stop-color="#e6b14c"/>
                  <stop offset="0.93" stop-color="#efbb5d"/>
                  <stop offset="0.98" stop-color="#fbc973"/>
                  <stop offset="1" stop-color="#ffce7b"/>
              </radialGradient>
          </defs>
          <title>wohnzimmer</title>
          <g id="Livello_2" data-name="Livello 2">
              <g id="Layer_7" data-name="Layer 7">
                  <g>
                      <g>
                          <g>
                              <polygon points="580.26 595.58 0 930.6 0 335.02 580.26 0 580.26 595.58" style="fill: url(#linear-gradient)"/>
                              <polygon points="580.26 595.58 1160.53 930.6 1160.53 339.01 580.26 4 580.26 595.58" style="fill: url(#linear-gradient-2)"/>
                              <polygon points="580.26 1265.62 0 930.6 580.26 595.58 1160.53 930.6 580.26 1265.62" style="fill: url(#radial-gradient)"/>
                              <polygon points="580.26 1265.62 96.71 986.44 193.42 818.93 580.26 595.58 967.11 818.93 1063.82 986.44 580.26 1265.62" style="fill: url(#radial-gradient-2)"/>
                              <polygon points="1160.53 967.82 580.26 1302.84 580.26 1265.62 1160.53 930.6 1160.53 967.82" style="fill: #d1d3d4"/>
                              <polygon points="0 967.82 580.26 1302.84 580.26 1265.62 0 930.6 0 967.82" style="fill: #bcbec0"/>
                          </g>
                          <g>
                              <polygon points="580.26 0.01 451.32 74.46 451.32 670.03 580.26 595.58 580.26 0.01" style="fill: url(#linear-gradient-3)"/>
                              <polygon points="457.88 78.25 565.64 16.03 565.64 587.14 457.88 649.36 457.88 78.25" style="fill: #fff"/>
                              <polygon points="565.64 587.14 565.64 16.03 573.7 11.38 573.7 591.79 565.64 587.14" style="fill: #d8d9da"/>
                              <polygon points="457.88 649.36 565.64 587.14 573.7 591.79 457.88 658.66 457.88 649.36" style="fill: #e6e7e8"/>
                              <polygon points="557.58 582.49 557.58 20.68 565.64 16.03 565.64 587.14 557.58 582.49" style="fill: url(#linear-gradient-4)"/>
                              <polygon points="457.88 640.05 557.58 582.49 565.64 587.14 457.88 649.36 457.88 640.05" style="fill: #f7fcfe"/>
                          </g>
                          <g>
                              <polygon points="451.32 74.46 322.37 148.91 322.37 744.48 451.32 670.03 451.32 74.46" style="fill: url(#linear-gradient-5)"/>
                              <polygon points="328.93 152.69 436.69 90.48 436.69 661.59 328.93 723.81 328.93 152.69" style="fill: #fff"/>
                              <polygon points="436.69 661.59 436.69 90.48 444.75 85.83 444.75 666.24 436.69 661.59" style="fill: #d8d9da"/>
                              <polygon points="328.93 723.81 436.69 661.59 444.75 666.24 328.93 733.11 328.93 723.81" style="fill: #e6e7e8"/>
                              <polygon points="428.63 656.94 428.63 95.13 436.69 90.48 436.69 661.59 428.63 656.94" style="fill: url(#linear-gradient-6)"/>
                              <polygon points="328.93 714.5 428.63 656.94 436.69 661.59 328.93 723.81 328.93 714.5" style="fill: #f7fcfe"/>
                          </g>
                          <g>
                              <polygon points="322.37 148.91 193.42 223.35 193.42 818.93 322.37 744.48 322.37 148.91" style="fill: url(#linear-gradient-7)"/>
                              <polygon points="199.99 227.14 307.75 164.93 307.75 736.04 199.99 798.25 199.99 227.14" style="fill: #fff"/>
                              <polygon points="307.75 736.04 307.75 164.93 315.81 160.27 315.81 740.69 307.75 736.04" style="fill: #d8d9da"/>
                              <polygon points="199.99 798.25 307.75 736.04 315.81 740.69 199.99 807.56 199.99 798.25" style="fill: #e6e7e8"/>
                              <polygon points="299.69 731.39 299.69 169.58 307.75 164.93 307.75 736.04 299.69 731.39" style="fill: url(#linear-gradient-8)"/>
                              <polygon points="199.99 788.95 299.69 731.39 307.75 736.04 199.99 798.25 199.99 788.95" style="fill: #f7fcfe"/>
                          </g>
                          <g>
                              <polygon points="580.26 0.01 709.21 74.46 709.21 670.03 580.26 595.58 580.26 0.01" style="fill: url(#linear-gradient-9)"/>
                              <polygon points="702.65 78.25 594.89 16.03 594.89 587.14 702.65 649.36 702.65 78.25" style="fill: #fff"/>
                              <polygon points="594.89 587.14 594.89 16.03 586.83 11.38 586.83 591.79 594.89 587.14" style="fill: #d8d9da"/>
                              <polygon points="702.65 649.36 594.89 587.14 586.83 591.79 702.65 658.66 702.65 649.36" style="fill: #e6e7e8"/>
                              <polygon points="602.95 582.49 602.95 20.68 594.89 16.03 594.89 587.14 602.95 582.49" style="fill: url(#linear-gradient-10)"/>
                              <polygon points="702.65 640.05 602.95 582.49 594.89 587.14 702.65 649.36 702.65 640.05" style="fill: #f7fcfe"/>
                          </g>
                          <g>
                              <polygon points="709.21 74.46 838.16 148.91 838.16 744.48 709.21 670.03 709.21 74.46" style="fill: url(#linear-gradient-11)"/>
                              <polygon points="831.6 152.69 723.83 90.48 723.83 661.59 831.6 723.81 831.6 152.69" style="fill: #fff"/>
                              <polygon points="723.83 661.59 723.83 90.48 715.77 85.83 715.77 666.24 723.83 661.59" style="fill: #d8d9da"/>
                              <polygon points="831.6 723.81 723.83 661.59 715.77 666.24 831.6 733.11 831.6 723.81" style="fill: #e6e7e8"/>
                              <polygon points="731.89 656.94 731.89 95.13 723.83 90.48 723.83 661.59 731.89 656.94" style="fill: url(#linear-gradient-12)"/>
                              <polygon points="831.6 714.5 731.89 656.94 723.83 661.59 831.6 723.81 831.6 714.5" style="fill: #f7fcfe"/>
                          </g>
                          <g>
                              <polygon points="838.16 148.91 967.1 223.35 967.1 818.93 838.16 744.48 838.16 148.91" style="fill: url(#linear-gradient-13)"/>
                              <polygon points="960.54 227.14 852.78 164.93 852.78 736.04 960.54 798.25 960.54 227.14" style="fill: #fff"/>
                              <polygon points="852.78 736.04 852.78 164.93 844.72 160.27 844.72 740.69 852.78 736.04" style="fill: #d8d9da"/>
                              <polygon points="960.54 798.25 852.78 736.04 844.72 740.69 960.54 807.56 960.54 798.25" style="fill: #e6e7e8"/>
                              <polygon points="860.84 731.39 860.84 169.58 852.78 164.93 852.78 736.04 860.84 731.39" style="fill: url(#linear-gradient-14)"/>
                              <polygon points="960.54 788.95 860.84 731.39 852.78 736.04 960.54 798.25 960.54 788.95" style="fill: #f7fcfe"/>
                          </g>
                      </g>

                  </g>
              </g>
          </g>
      </svg>
      <img id="LR-SL" src="pictures/Wohnzimmer/LR-SL.svg" alt="Livingroom - Sofa Links">
      <img id="LR-SR" src="pictures/Wohnzimmer/LR-SR.svg" alt="Livingroom - Sofa Rechts">
      <img id="LR-S" src="pictures/Wohnzimmer/LR-S.svg" alt="Livingroom - Sessel">
      <img id="LR-T" src="pictures/Wohnzimmer/LR-T.svg" alt="Livingroom - Teppich">
      <img id="LR-U" src="pictures/Wohnzimmer/LR-U.svg" alt="Livingroom - Uhr">
      <img id="LR-L" src="pictures/Wohnzimmer/LR-L.svg" alt="Livingroom - Lampe">
      <img id="LR-K" src="pictures/Wohnzimmer/LR-K.svg" alt="Livingroom - Kommode">
      <img id="LR-CT" src="pictures/Wohnzimmer/LR-CT.svg" alt="Livingroom - Couch Tisch">
  </div>
  <!-- ################################# -->
  <div class="bedroom" >
      <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 687 768" style="enable-background:new 0 0 687 768;" xml:space="preserve">
          <style type="text/css">
          .st0{fill:url(#SVGID_1_);}
          .st1{fill:url(#SVGID_2_);}
          .st2{fill:url(#SVGID_3_);}
          .st3{fill:#FFFFFF;}
          .st4{fill:url(#SVGID_4_);}
          .st5{fill:url(#SVGID_5_);}
          .st6{fill:url(#SVGID_6_);}
          .st7{fill:#544741;}
          .st8{fill:#746458;}
          .st9{fill:#C8E8E9;}
          .st10{fill:#AFDEE0;}
          .st11{fill:url(#SVGID_7_);}
          .st12{fill:url(#SVGID_8_);}
          .st13{fill:url(#SVGID_9_);}
          .st14{fill:url(#SVGID_10_);}
          .st15{fill:url(#SVGID_11_);}
          .st16{fill:#C75D5A;}
          .st17{fill:#AA3E41;}
          .st18{fill:#F1716C;}
          .st19{fill:url(#SVGID_12_);}
          .st20{fill:url(#SVGID_13_);}
          .st21{fill:#CCCCCC;}
          .st22{fill:#E5A82E;}
          .st23{fill:#C5C7C9;}
          .st24{fill:url(#SVGID_14_);}
          .st25{fill:#CF992A;}
          .st26{fill:url(#SVGID_15_);}
          .st27{fill:url(#SVGID_16_);}
          .st28{fill:url(#SVGID_17_);}
          .st29{fill:url(#SVGID_18_);}
          .st30{fill:url(#SVGID_19_);}
          .st31{fill:url(#SVGID_20_);}
          .st32{fill:url(#SVGID_21_);}
          .st33{fill:url(#SVGID_22_);}
          .st34{fill:#3DB0B4;}
          .st35{fill:url(#SVGID_23_);}
          .st36{fill:url(#SVGID_24_);}
          .st37{fill:url(#SVGID_25_);}
          .st38{fill:url(#SVGID_26_);}
          .st39{fill:url(#SVGID_27_);}
          .st40{fill:url(#SVGID_28_);}
          .st41{fill:url(#SVGID_29_);}
          .st42{fill:#D0D2D3;}
          .st43{fill:url(#SVGID_30_);}
          .st44{fill:url(#SVGID_31_);}
          .st45{fill:#808184;}
          .st46{fill:#BBBDBF;}
          .st47{fill:url(#SVGID_32_);}
          .st48{fill:#F2745C;}
          .st49{fill:#E6E7E8;}
          .st50{fill:url(#SVGID_33_);}
          .st51{fill:#9C9EA1;}
          .st52{fill:url(#SVGID_34_);}
          .st53{fill:#6DADDE;}
          .st54{fill:url(#SVGID_35_);}
          .st55{fill:url(#SVGID_36_);}
          .st56{fill:#FDC259;}
          .st57{fill:url(#SVGID_37_);}
          .st58{fill:url(#SVGID_38_);}
          .st59{fill:url(#SVGID_39_);}
          .st60{fill:#36A1A5;}
          .st61{fill:url(#SVGID_40_);}
          .st62{fill:url(#SVGID_41_);}
          .st63{fill:url(#SVGID_42_);}
          .st64{fill:url(#SVGID_43_);}
          .st65{fill:url(#SVGID_44_);}
          .st66{fill:url(#SVGID_45_);}
          .st67{fill:url(#SVGID_46_);}
          .st68{fill:#A6A8AB;}
          .st69{fill:url(#SVGID_47_);}
          .st70{fill:#4D4D4F;}
          .st71{fill:url(#SVGID_48_);}
          .st72{fill:url(#SVGID_49_);}
          .st73{fill:url(#SVGID_50_);}
          .st74{fill:url(#SVGID_51_);}
          .st75{fill:url(#SVGID_52_);}
          .st76{fill:url(#SVGID_53_);}
          .st77{fill:url(#SVGID_54_);}
          .st78{fill:url(#SVGID_55_);}
          .st79{fill:url(#SVGID_56_);}
          .st80{fill:url(#SVGID_57_);}
          .st81{fill:url(#SVGID_58_);}
          .st82{fill:url(#SVGID_59_);}
          .st83{fill:#DBDCDD;}
          .st84{fill:#64BFC2;}
          .st85{fill:url(#SVGID_60_);}
          .st86{fill:url(#SVGID_61_);}
          .st87{fill:url(#SVGID_62_);}
          .st88{fill:url(#SVGID_63_);}
          .st89{fill:url(#SVGID_64_);}
          .st90{fill:url(#SVGID_65_);}
          .st91{fill:url(#SVGID_66_);}
          .st92{fill:url(#SVGID_67_);}
          .st93{fill:url(#SVGID_68_);}
          .st94{fill:url(#SVGID_69_);}
          .st95{fill:url(#SVGID_70_);}
          .st96{fill:url(#SVGID_71_);}
          .st97{fill:#EDA752;}
      </style>
                  <g>
          <g id="BG">

                  <radialGradient id="SVGID_1_" cx="23.1826" cy="398.7523" r="364.075" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                  <stop  offset="0.15" style="stop-color:#3AA8AC"/>
                      <stop  offset="0.1991" style="stop-color:#42ADB1"/>
                      <stop  offset="0.3704" style="stop-color:#5ABBBF"/>
                      <stop  offset="0.5526" style="stop-color:#6BC4C8"/>
                      <stop  offset="0.7519" style="stop-color:#75CACE"/>
                      <stop  offset="1" style="stop-color:#78CCD0"/>
              </radialGradient>
              <polygon class="st0" points="344,352.32 4,548.62 4,199.64 344,3.35 		"/>
              <g>
                  <g>

                          <radialGradient id="SVGID_2_" cx="468.6128" cy="512.6132" r="340.8692" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                          <stop  offset="0.25" style="stop-color:#FFFFFF"/>
                              <stop  offset="0.4904" style="stop-color:#F9F9FA"/>
                              <stop  offset="0.8044" style="stop-color:#E9E9EA"/>
                              <stop  offset="1" style="stop-color:#DBDCDD"/>
                      </radialGradient>
                      <polygon class="st1" points="344,352.32 684,548.62 684,199.64 344,3.35 				"/>

                      <radialGradient id="SVGID_3_" cx="610.8995" cy="566.231" r="220.3399" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                          <stop  offset="0.25" style="stop-color:#FFFFFF"/>
                          <stop  offset="0.4904" style="stop-color:#F9F9FA"/>
                          <stop  offset="0.8044" style="stop-color:#E9E9EA"/>
                          <stop  offset="1" style="stop-color:#DBDCDD"/>
                      </radialGradient>
                      <polygon class="st2" points="344,352.32 684,548.62 532.7,286.87 344,177.83 				"/>
                      <polygon class="st3" points="230.67,374.13 174,406.85 174,123.31 230.67,90.59 				"/>

                      <radialGradient id="SVGID_4_" cx="338.7103" cy="246.3701" r="286.0659" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                          <stop  offset="0" style="stop-color:#B19175"/>
                          <stop  offset="0.2648" style="stop-color:#AB8C71"/>
                          <stop  offset="0.6111" style="stop-color:#9B7E66"/>
                          <stop  offset="1" style="stop-color:#806853"/>
                      </radialGradient>
                      <polygon class="st4" points="344,744.92 4,548.62 344,352.32 684,548.62"/>

                      <radialGradient id="SVGID_5_" cx="267.6013" cy="295.6588" r="416.0511" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                          <stop  offset="0" style="stop-color:#BD9D81"/>
                          <stop  offset="0.2614" style="stop-color:#B7987D"/>
                          <stop  offset="0.6034" style="stop-color:#A78971"/>
                          <stop  offset="0.9886" style="stop-color:#8C725D"/>
                          <stop  offset="1" style="stop-color:#8B715C"/>
                      </radialGradient>
                      <polygon class="st5" points="211.78,472.28 268.44,439.57 495.11,439.57 684,548.62 344,744.92 211.78,668.58 				"/>

                      <radialGradient id="SVGID_6_" cx="622.8828" cy="210.85" r="15.4923" gradientTransform="matrix(1 0 0 -1 0 768)" gradientUnits="userSpaceOnUse">
                          <stop  offset="0" style="stop-color:#B19175"/>
                          <stop  offset="0.31" style="stop-color:#AB8C71"/>
                          <stop  offset="0.7147" style="stop-color:#9B7E66"/>
                          <stop  offset="1" style="stop-color:#8B715C"/>
                      </radialGradient>
                      <polygon class="st6" points="627.33,581.34 627.33,570.38 646.45,570.38"/>
                      <polygon class="st7" points="684,570.43 344,766.73 344,744.92 684,548.62"/>
                      <polygon class="st8" points="4,570.43 344,766.73 344,744.92 4,548.62"/>
                  </g>
                  <polygon class="st9" points="230.67,374.13 174,406.85 174,395.94 230.67,363.23"/>
                  <polygon class="st3" points="230.67,363.23 174,395.94 174,385.04 230.67,352.32"/>
                  <polygon class="st10" points="230.67,90.59 230.67,374.13 221.22,368.68 221.22,96.05"/>

                  <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="277.8839" y1="639.235" x2="159.8316" y2="434.7624" gradientTransform="matrix(1 0 0 -1 0 768)">
                      <stop  offset="0" style="stop-color:#DBE8F6"/>
                      <stop  offset="1" style="stop-color:#F4FAFD"/>
                  </linearGradient>
                  <polygon class="st11" points="221.22,96.05 221.22,368.68 211.78,363.23 211.78,101.49"/>
              </g>
          </g>
          </g>
      </svg>
      <img id="BR-B" src="pictures/Schlafzimmer/BR-B.svg" alt="Bedroom - Bett">
      <img id="BR-K" src="pictures/Schlafzimmer/BR-K.svg" alt="Bedroom - Kommode">
      <img id="BR-S" src="pictures/Schlafzimmer/BR-S.svg" alt="Bedroom - Stuhl">
      <img id="BR-ST" src="pictures/Schlafzimmer/BR-ST.svg" alt="Bedroom - Schreibtisch">
      <img id="BR-T" src="pictures/Schlafzimmer/BR-T.svg" alt="Bedroom - Teppich">
      <img id="BR-R" src="pictures/Schlafzimmer/BR-R.svg" alt="Bedroom - Regal">
  </div>
  <!-- ################################# -->
  <div class="kitchen">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 682.91 766.66">
          <defs>
              <linearGradient id="a" x1="334.77" y1="772.13" x2="12.28" y2="213.56"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#f0e8ce"/>
                  <stop offset="0.01" stop-color="#efe6c9"/>
                  <stop offset="0.04" stop-color="#eadfb8"/>
                  <stop offset="0.08" stop-color="#e6dbad"/>
                  <stop offset="0.14" stop-color="#e5d8a6"/>
                  <stop offset="0.3" stop-color="#e4d7a4"/>
                  <stop offset="1" stop-color="#d9c87f"/>
              </linearGradient>
              <linearGradient id="b" x1="282.6" y1="643.44" x2="348.99" y2="528.45"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d0d2d3"/>
                  <stop offset="1" stop-color="#bbbdbf"/>
              </linearGradient>
              <linearGradient id="c" x1="287.64" y1="641.92" x2="347.81" y2="537.7"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d3e3f4"/>
                  <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <linearGradient id="d" x1="439.6" y1="361.12" x2="590.35" y2="622.22"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d0bd60"/>
                  <stop offset="0.01" stop-color="#d0bd61"/>
                  <stop offset="0.3" stop-color="#d5c372"/>
                  <stop offset="0.61" stop-color="#d8c77c"/>
                  <stop offset="1" stop-color="#d9c87f"/>
              </linearGradient>
              <linearGradient id="e" x1="344.25" y1="384.72" x2="344.25" y2="17.86"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0.5" stop-color="#e6e7e8"/>
                  <stop offset="0.57" stop-color="#e8e9ea"/>
                  <stop offset="1" stop-color="#f1f1f2"/>
              </linearGradient>
              <linearGradient id="f" x1="225.2" y1="610.59" x2="291.59" y2="495.59"
                              gradientTransform="translate(685.21 766.66) rotate(180)" xlink:href="#b"/>
              <linearGradient id="g" x1="457.77" y1="609.07" x2="397.59" y2="504.84"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d3e3f4"/>
                  <stop offset="0.35" stop-color="#e9f1f9"/>
                  <stop offset="0.72" stop-color="#f9fbfe"/>
                  <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <linearGradient id="h" x1="576.8" y1="351.83" x2="530.62" y2="271.84"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff"/>
                  <stop offset="0.17" stop-color="#fbfbfb"/>
                  <stop offset="0.33" stop-color="#eff0f1"/>
                  <stop offset="0.41" stop-color="#e6e7e8"/>
                  <stop offset="0.49" stop-color="#eeeeef"/>
                  <stop offset="0.66" stop-color="#fbfbfb"/>
                  <stop offset="0.83" stop-color="#fff"/>
                  <stop offset="0.93" stop-color="#f9f9fa"/>
                  <stop offset="1" stop-color="#f1f1f2"/>
              </linearGradient>
              <linearGradient id="i" x1="408.53" y1="280.57" x2="562.39" y2="280.57"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#93d5d8"/>
                  <stop offset="0.09" stop-color="#7fcacd"/>
                  <stop offset="0.29" stop-color="#57b4b7"/>
                  <stop offset="0.45" stop-color="#3fa6aa"/>
                  <stop offset="0.55" stop-color="#36a1a5"/>
                  <stop offset="0.76" stop-color="#38a2a6"/>
                  <stop offset="0.83" stop-color="#3fa6aa"/>
                  <stop offset="0.88" stop-color="#4aacb0"/>
                  <stop offset="0.92" stop-color="#5bb6b9"/>
                  <stop offset="0.96" stop-color="#71c2c6"/>
                  <stop offset="0.99" stop-color="#8cd1d4"/>
                  <stop offset="1" stop-color="#93d5d8"/>
              </linearGradient>
              <linearGradient id="j" x1="485.46" y1="244.56" x2="485.46" y2="331"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#6dbabe"/>
                  <stop offset="0.2" stop-color="#73c3c7"/>
                  <stop offset="0.5" stop-color="#78ccd0"/>
                  <stop offset="0.72" stop-color="#81cfd3"/>
                  <stop offset="1" stop-color="#93d5d8"/>
              </linearGradient>
              <linearGradient id="k" x1="255.3" y1="468.81" x2="205.53" y2="555.01" xlink:href="#a"/>
              <linearGradient id="l" x1="281.18" y1="579.96" x2="295.39" y2="555.35"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#e6e7e8"/>
                  <stop offset="0.4" stop-color="#eeeeef"/>
                  <stop offset="1" stop-color="#f1f1f2"/>
              </linearGradient>
              <linearGradient id="m" x1="145.06" y1="399.76" x2="159.29" y2="375.11"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#ac9d50"/>
                  <stop offset="0.01" stop-color="#ad9e50"/>
                  <stop offset="0.3" stop-color="#beab4d"/>
                  <stop offset="0.61" stop-color="#c8b34c"/>
                  <stop offset="1" stop-color="#cbb64b"/>
              </linearGradient>
              <linearGradient id="n" x1="126.09" y1="301.19" x2="140.32" y2="276.54"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#ac9d50"/>
                  <stop offset="0.07" stop-color="#b2a253"/>
                  <stop offset="0.34" stop-color="#c3b15a"/>
                  <stop offset="0.63" stop-color="#cdba5f"/>
                  <stop offset="1" stop-color="#d0bd60"/>
              </linearGradient>
              <linearGradient id="o" x1="273.08" y1="325.9" x2="277.84" y2="317.65"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#626366"/>
                  <stop offset="0.19" stop-color="#76777a"/>
                  <stop offset="0.51" stop-color="#909295"/>
                  <stop offset="0.79" stop-color="#a0a2a5"/>
                  <stop offset="1" stop-color="#a6a8ab"/>
              </linearGradient>
              <linearGradient id="p" x1="130.86" y1="271.14" x2="126.07" y2="262.84"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#929497"/>
                  <stop offset="0.06" stop-color="#9a9c9f"/>
                  <stop offset="0.26" stop-color="#b2b4b6"/>
                  <stop offset="0.47" stop-color="#c3c5c6"/>
                  <stop offset="0.71" stop-color="#cdcfd0"/>
                  <stop offset="1" stop-color="#d0d2d3"/>
              </linearGradient>
              <linearGradient id="q" x1="411.93" y1="409.68" x2="408.36" y2="403.5"
                              gradientTransform="translate(685.21 766.66) rotate(180)" xlink:href="#p"/>
              <linearGradient id="r" x1="192.49" y1="438.09" x2="220.95" y2="388.8"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#dbdcdd"/>
                  <stop offset="0.01" stop-color="#dddedf"/>
                  <stop offset="0.17" stop-color="#e8e9ea"/>
                  <stop offset="0.39" stop-color="#efeff0"/>
                  <stop offset="1" stop-color="#f1f1f2"/>
              </linearGradient>
              <linearGradient id="s" x1="154.55" y1="459.99" x2="173.52" y2="427.13"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d0d2d3"/>
                  <stop offset="0.05" stop-color="#dadbdc"/>
                  <stop offset="0.15" stop-color="#ebebec"/>
                  <stop offset="0.29" stop-color="#f6f7f7"/>
                  <stop offset="0.48" stop-color="#fdfdfd"/>
                  <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <linearGradient id="t" x1="154.55" y1="503.8" x2="173.52" y2="470.94" xlink:href="#s"/>
              <linearGradient id="u" x1="129.76" y1="491.62" x2="-18.06" y2="235.59"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#bbe3e4"/>
                  <stop offset="0.03" stop-color="#93d5d8"/>
                  <stop offset="0.27" stop-color="#93d5d8"/>
                  <stop offset="0.34" stop-color="#36a1a5"/>
              </linearGradient>
              <linearGradient id="v" x1="59.7" y1="334" x2="154.55" y2="334"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#36a1a5"/>
                  <stop offset="0.02" stop-color="#42a9ad"/>
                  <stop offset="0.06" stop-color="#5ab8bc"/>
                  <stop offset="0.1" stop-color="#6bc3c7"/>
                  <stop offset="0.14" stop-color="#75cace"/>
                  <stop offset="0.2" stop-color="#78ccd0"/>
                  <stop offset="0.8" stop-color="#78ccd0"/>
                  <stop offset="0.86" stop-color="#7bcdd1"/>
                  <stop offset="0.9" stop-color="#85d1d4"/>
                  <stop offset="0.94" stop-color="#96d6d9"/>
                  <stop offset="0.98" stop-color="#aedee0"/>
                  <stop offset="1" stop-color="#bbe3e4"/>
              </linearGradient>
              <linearGradient id="w" x1="59.71" y1="369.73" x2="154.55" y2="369.73"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#009397"/>
                  <stop offset="0.01" stop-color="#109a9e"/>
                  <stop offset="0.05" stop-color="#2ea7ab"/>
                  <stop offset="0.08" stop-color="#46b2b5"/>
                  <stop offset="0.11" stop-color="#57b9bc"/>
                  <stop offset="0.15" stop-color="#61bec1"/>
                  <stop offset="0.2" stop-color="#64bfc2"/>
                  <stop offset="0.8" stop-color="#64bfc2"/>
                  <stop offset="0.89" stop-color="#67c1c4"/>
                  <stop offset="0.97" stop-color="#71c8cb"/>
                  <stop offset="1" stop-color="#78ccd0"/>
              </linearGradient>
              <linearGradient id="x" x1="133.06" y1="315.07" x2="142.07" y2="299.46"
                              gradientTransform="matrix(1, 0, 0, -1, -2.79, 766.66)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#36a1a5"/>
                  <stop offset="0.08" stop-color="#42a9ad"/>
                  <stop offset="0.28" stop-color="#5ab8bc"/>
                  <stop offset="0.49" stop-color="#6bc3c7"/>
                  <stop offset="0.72" stop-color="#75cace"/>
                  <stop offset="1" stop-color="#78ccd0"/>
              </linearGradient>
              <linearGradient id="y" x1="139.49" y1="318.79" x2="140.66" y2="316.75"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#d9d9d9"/>
                  <stop offset="0.25" stop-color="#fff"/>
                  <stop offset="0.39" stop-color="#fcfcfc"/>
                  <stop offset="0.5" stop-color="#f1f1f1"/>
                  <stop offset="0.61" stop-color="#e0e0e0"/>
                  <stop offset="0.71" stop-color="#c8c8c8"/>
                  <stop offset="0.81" stop-color="#a9a9a9"/>
                  <stop offset="0.85" stop-color="#999"/>
                  <stop offset="0.89" stop-color="#9c9c9c"/>
                  <stop offset="0.92" stop-color="#a6a6a6"/>
                  <stop offset="0.95" stop-color="#b7b7b7"/>
                  <stop offset="0.98" stop-color="#cfcfcf"/>
                  <stop offset="1" stop-color="#e6e6e6"/>
              </linearGradient>
              <linearGradient id="z" x1="125.99" y1="375.26" x2="149.14" y2="335.16" xlink:href="#x"/>
              <linearGradient id="aa" x1="122.21" y1="373.07" x2="154.37" y2="317.37" xlink:href="#y"/>
              <linearGradient id="ab" x1="139.49" y1="394.77" x2="140.66" y2="392.73" xlink:href="#y"/>
              <linearGradient id="ac" x1="125.99" y1="451.24" x2="149.14" y2="411.14" xlink:href="#x"/>
              <linearGradient id="ad" x1="122.21" y1="449.05" x2="154.37" y2="393.35" xlink:href="#y"/>
              <linearGradient id="ae" x1="-901.26" y1="427.97" x2="-877.62" y2="387.02"
                              gradientTransform="matrix(-1, 0.24, 0, -1, -429.36, 1176.48)"
                              gradientUnits="userSpaceOnUse">
                  <stop offset="0.25" stop-color="#fff"/>
                  <stop offset="0.49" stop-color="#f9f9fa"/>
                  <stop offset="0.8" stop-color="#e9e9ea"/>
                  <stop offset="1" stop-color="#dbdcdd"/>
              </linearGradient>
              <linearGradient id="af" x1="-868.09" y1="447.12" x2="-844.45" y2="406.17" xlink:href="#ae"/>
              <linearGradient id="ag" x1="-894.16" y1="432.07" x2="-870.51" y2="391.12" xlink:href="#ae"/>
              <linearGradient id="ah" x1="-896.12" y1="419.06" x2="-893.26" y2="414.12"
                              gradientTransform="matrix(-1, 0.24, 0, -1, -429.36, 1176.48)"
                              gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#dbdcdd"/>
                  <stop offset="0.01" stop-color="#d9dadc"/>
                  <stop offset="0.09" stop-color="#cecfd1"/>
                  <stop offset="0.21" stop-color="#c7c9cb"/>
                  <stop offset="0.55" stop-color="#c5c7c9"/>
                  <stop offset="0.75" stop-color="#cbcdce"/>
                  <stop offset="1" stop-color="#dbdcdd"/>
              </linearGradient>
              <linearGradient id="ai" x1="439.23" y1="244.39" x2="415.03" y2="202.47"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff"/>
                  <stop offset="0.05" stop-color="#fafafa"/>
                  <stop offset="0.18" stop-color="#f3f3f4"/>
                  <stop offset="0.55" stop-color="#f1f1f2"/>
                  <stop offset="0.74" stop-color="#f7f7f7"/>
                  <stop offset="0.89" stop-color="#fff"/>
                  <stop offset="0.92" stop-color="#f9f9fa"/>
                  <stop offset="0.97" stop-color="#e9e9ea"/>
                  <stop offset="1" stop-color="#dbdcdd"/>
              </linearGradient>
              <linearGradient id="aj" x1="382.52" y1="267.24" x2="424.75" y2="194.1"
                              gradientTransform="matrix(1, 0, 0, -1, 0, 768)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#c5c7c9"/>
                  <stop offset="0.01" stop-color="#c7c9ca"/>
                  <stop offset="0.09" stop-color="#d2d4d5"/>
                  <stop offset="0.21" stop-color="#d9dadb"/>
                  <stop offset="0.55" stop-color="#dbdcdd"/>
                  <stop offset="0.7" stop-color="#d5d6d8"/>
                  <stop offset="0.89" stop-color="#c5c7c9"/>
                  <stop offset="0.94" stop-color="#cbcdce"/>
                  <stop offset="1" stop-color="#dbdcdd"/>
              </linearGradient>
              <radialGradient id="ak" cx="2262.46" cy="283.96" r="205.03"
                              gradientTransform="matrix(0.43, 0, 0, -0.43, -489.95, 439.22)"
                              gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff"/>
                  <stop offset="0.21" stop-color="#eff0f0"/>
                  <stop offset="0.4" stop-color="#e6e7e8"/>
                  <stop offset="0.8" stop-color="#c5c7c9"/>
                  <stop offset="0.88" stop-color="#c8cacc"/>
                  <stop offset="0.94" stop-color="#d2d4d5"/>
                  <stop offset="0.99" stop-color="#e3e4e5"/>
                  <stop offset="1" stop-color="#e6e7e8"/>
              </radialGradient>
          </defs>
          <title>kueche</title>
          <g id="kitchen-room">
              <polygon points="341.46 350.48 0 547.62 0 197.15 341.46 0 341.46 350.48" fill="#f1f1f2"/>
              <polygon points="341.46 350.48 0 547.62 0 197.15 341.46 0 341.46 350.48" fill="url(#a)"/>
              <polygon points="341.46 87.62 284.55 120.48 284.55 273.81 341.46 240.95 341.46 87.62" fill="url(#b)"/>
              <polygon points="288.41 122.71 341.46 92.05 341.46 230.99 288.41 261.65 288.41 122.71" fill="url(#c)"/>
              <polygon points="288.41 261.65 341.46 230.99 341.46 236.58 288.41 267.12 288.41 261.65" fill="#fff"/>
              <polygon points="288.41 256.17 341.46 225.48 341.46 230.99 288.41 261.65 288.41 256.17" fill="#f4fafd"/>
              <polygon points="341.46 350.48 682.91 547.62 682.91 197.14 341.46 0 341.46 350.48" fill="#f1f1f2"/>
              <polygon points="341.46 350.48 682.91 547.62 682.91 199.5 341.46 2.36 341.46 350.48" fill="url(#d)"/>
              <polygon points="341.46 744.76 0 547.62 341.46 350.48 682.91 547.62 341.46 744.76" fill="#f1f1f2"/>
              <polygon
                      points="682.91 547.62 393.58 380.57 3.88 545.38 0 547.62 284.55 711.9 284.55 558.57 398.37 492.86 470.36 534.42 470.33 670.35 682.91 547.62"
                      fill="url(#e)"/>
              <polygon points="682.91 569.52 341.46 766.66 341.46 744.76 682.91 547.62 682.91 569.52" fill="#d0d2d3"/>
              <polygon points="0 569.52 341.46 766.66 341.46 744.76 0 547.62 0 569.52" fill="#bbbdbf"/>
              <polygon points="341.46 87.62 512.18 186.19 512.18 339.52 341.46 240.95 341.46 87.62" fill="url(#f)"/>
              <polygon points="508.32 188.42 341.46 92.05 341.46 230.99 508.32 327.36 508.32 188.42" fill="url(#g)"/>
              <polygon points="508.32 327.36 341.46 230.99 341.46 236.58 508.32 332.83 508.32 327.36" fill="#fff"/>
              <polygon points="508.32 321.88 341.46 225.48 341.46 230.99 508.32 327.36 508.32 321.88" fill="#f4fafd"/>
          </g>


      </svg>
      <img id="K-AB" src="pictures/Kuche/K-AB.svg" alt="Kitchen - Arbeits Bank">
      <img id="K-AH" src="pictures/Kuche/K-AH.svg" alt="Kitchen - Aubszugshaube">
      <img id="K-B" src="pictures/Kuche/K-B.svg" alt="Kitchen - Bild">
      <img id="K-Ks" src="pictures/Kuche/K-Ks.svg" alt="Kitchen - Kuehlschrank">
      <img id="K-KSL" src="pictures/Kuche/K-KSL.svg" alt="Kitchen - Kuechenschrank Links">
      <img id="K-KSR" src="pictures/Kuche/K-KSR.svg" alt="Kitchen - Kuechenschrank Rechts">
      <img id="K-L" src="pictures/Kuche/K-L.svg" alt="Kitchen - Lampe">
      <img id="K-SL" src="pictures/Kuche/K-SL.svg" alt="Kitchen - Stuhl Links">
      <img id="K-SR" src="pictures/Kuche/K-SR.svg" alt="Kitchen - Stuhl Rechts">
      <img id="K-T" src="pictures/Kuche/K-T.svg" alt="Kitchen - Tisch">
  </div>

  <div id="clickmeButton" class="clickme">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.45 31.17">
      <title>Risorsa 1</title>
      <path d="M.92,24.5A1,1,0,0,1,1,23.72a1.35,1.35,0,0,1,.59-.56,2.87,2.87,0,0,1,1-.29,4.09,4.09,0,0,1,1.28.06,2.72,2.72,0,0,1,1.08.42,1.11,1.11,0,0,1,.48.71.81.81,0,0,1,0,.37.72.72,0,0,1-.15.29.58.58,0,0,1-.27.17.63.63,0,0,1-.34,0,1.15,1.15,0,0,1-.32-.14A1.41,1.41,0,0,1,4,24.53c.49-.21.72-.47.66-.76a.38.38,0,0,0-.34-.31,1.49,1.49,0,0,0-.61,0,2.25,2.25,0,0,0-.65.25,1.43,1.43,0,0,0-.62.67,1.44,1.44,0,0,0,0,.92,1.37,1.37,0,0,0,.63.92,2.74,2.74,0,0,0,.41.05,4,4,0,0,0,.49,0l.54-.06A4.7,4.7,0,0,0,5,26.14l.1.1a.27.27,0,0,1,.06.1,2,2,0,0,1-.41.22,2.81,2.81,0,0,1-.5.15,3.41,3.41,0,0,1-.52.07,1.52,1.52,0,0,1-.45,0,3.12,3.12,0,0,1-.79-.41,4.93,4.93,0,0,1-.71-.56,4.21,4.21,0,0,1-.55-.64A2.12,2.12,0,0,1,.92,24.5Z" fill="#ff554f"/>
      <path d="M6.25,26.84a2.7,2.7,0,0,1,.07-1,10,10,0,0,1,.47-1.5A16.1,16.1,0,0,1,7.92,22a6.46,6.46,0,0,1,1.2-1.52,2.49,2.49,0,0,1,.41.12l.48.19.43.21a1.22,1.22,0,0,1,.25.17,10.43,10.43,0,0,0-1.59,1.75A9.39,9.39,0,0,0,8,24.94a9.67,9.67,0,0,0-.52,1.77,4,4,0,0,0,0,1.35l0,.19a.29.29,0,0,0,0,.07,1.8,1.8,0,0,1-.3-.14A.54.54,0,0,1,7,28a1,1,0,0,0-.16-.16l-.22-.18a.81.81,0,0,1-.23-.32A2.08,2.08,0,0,1,6.25,26.84Z" fill="#ff554f"/>
      <path d="M9.21,27.48a1.45,1.45,0,0,1,0-.2q0-.12,0-.32c0-.13,0-.29.07-.48s.07-.42.11-.68a1.92,1.92,0,0,1,.08-.28,2.19,2.19,0,0,1,.18-.4,1.93,1.93,0,0,1,.31-.4,1,1,0,0,1,.47-.26,3.38,3.38,0,0,1,.61.26,2.46,2.46,0,0,1,.67.51,2.66,2.66,0,0,0-.44.45,3.37,3.37,0,0,0-.3.47,4.55,4.55,0,0,0-.23.51q-.1.27-.23.55a4.4,4.4,0,0,0-.19.5,1.23,1.23,0,0,0-.07.46c0,.11,0,.19,0,.24s0,.07-.06.06l-.2-.09a2,2,0,0,1-.32-.21,2,2,0,0,1-.31-.31A.74.74,0,0,1,9.21,27.48Zm1.95-3.75a.56.56,0,0,1,0-.17.5.5,0,0,1-.13-.16.48.48,0,0,1-.06-.18A1.12,1.12,0,0,1,11,23c0-.1,0-.2.05-.32a3.33,3.33,0,0,1,.09-.36q.06-.18.12-.34a1.68,1.68,0,0,1,.4.08,4.14,4.14,0,0,1,.49.19,4,4,0,0,1,.46.25,2,2,0,0,1,.32.25l-.36.28q-.22.18-.42.38l-.37.37a1.7,1.7,0,0,0-.21.24.73.73,0,0,1-.28-.13C11.21,23.84,11.17,23.78,11.16,23.73Z" fill="#ff554f"/>
      <path d="M12.13,27a1.85,1.85,0,0,1,.19-1,2.63,2.63,0,0,1,.71-.86,3.66,3.66,0,0,1,1.09-.59,3.51,3.51,0,0,1,1.32-.19,1.86,1.86,0,0,1,1.06.31,1,1,0,0,1,.41.8,1.31,1.31,0,0,1-.06.47,1.38,1.38,0,0,1-.2.4.94.94,0,0,1-.3.27.61.61,0,0,1-.35.08.79.79,0,0,1-.32-.1,1,1,0,0,1-.28-.22c.55-.38.81-.76.79-1.11a.3.3,0,0,0-.32-.32,1.43,1.43,0,0,0-.64.17,3.11,3.11,0,0,0-.71.47,2.77,2.77,0,0,0-.76,1,2.47,2.47,0,0,0-.18,1.2,1.17,1.17,0,0,0,.54,1,2.37,2.37,0,0,0,.43,0,4,4,0,0,0,.53-.12,6,6,0,0,0,.58-.2,5.89,5.89,0,0,0,.58-.27.35.35,0,0,1,.09.1.27.27,0,0,1,0,.12,3.15,3.15,0,0,1-.47.38,3.82,3.82,0,0,1-.56.31,4,4,0,0,1-.56.21,1.41,1.41,0,0,1-.48.07,2.14,2.14,0,0,1-.8-.33,3.21,3.21,0,0,1-.68-.56,3.1,3.1,0,0,1-.49-.7A2.12,2.12,0,0,1,12.13,27Z" fill="#ff554f"/>
      <path d="M17.49,28.41a3.32,3.32,0,0,1,.18-1.06,14,14,0,0,1,.55-1.49q.35-.82.81-1.72T20,22.43c.32-.54.63-1,.93-1.43a4.21,4.21,0,0,1,.78-.87.88.88,0,0,1,.41.1,1.89,1.89,0,0,1,.73.61.65.65,0,0,1,.13.35,9.76,9.76,0,0,0-1.18,1.18,15.8,15.8,0,0,0-1.12,1.48,16,16,0,0,0-1,1.63,12.82,12.82,0,0,0-.7,1.63A9.87,9.87,0,0,1,19.82,26a7.83,7.83,0,0,1,.88-.87,4.6,4.6,0,0,1,.88-.59,2.06,2.06,0,0,1,.82-.24,1.1,1.1,0,0,1,.59,1,1.89,1.89,0,0,1-.15.76,2.75,2.75,0,0,1-.43.71,2.7,2.7,0,0,1-.62.54,1.89,1.89,0,0,1-.73.28,7,7,0,0,0,.35.82,6.44,6.44,0,0,0,.49.82,5.6,5.6,0,0,0,.64.76,3.82,3.82,0,0,0,.81.61.85.85,0,0,1-.19.23,1.16,1.16,0,0,1-.3.19,1.73,1.73,0,0,1-.38.12,1.6,1.6,0,0,1-.41,0,1,1,0,0,1-.65-.36,3.28,3.28,0,0,1-.57-.93,11.12,11.12,0,0,1-.4-1.13q-.2-.65-.37-1.35a4,4,0,0,0,.44-.29,6.89,6.89,0,0,0,.55-.45A2.53,2.53,0,0,0,22.18,25q0-.09-.15-.09a1.28,1.28,0,0,0-.61.23,4.69,4.69,0,0,0-.73.58,9.32,9.32,0,0,0-.77.84,11.47,11.47,0,0,0-.74,1,2.8,2.8,0,0,0-.26.49,5,5,0,0,0-.2.57,4.14,4.14,0,0,0-.12.59,3.13,3.13,0,0,0,0,.54.77.77,0,0,0,0,.26.77.77,0,0,1-.49-.22c-.06-.09-.13-.17-.18-.23a1,1,0,0,0-.15-.15A.72.72,0,0,1,17.6,29,2.31,2.31,0,0,1,17.49,28.41Z" fill="#ff554f"/>
      <path d="M34.52,25a1.06,1.06,0,0,0-.5.36,8.84,8.84,0,0,0-.64.79q-.34.47-.71,1L32,28.29l-.64,1c-.2.3-.36.54-.5.72a1.22,1.22,0,0,1-.48-.32,1.26,1.26,0,0,1-.29-.55q.07-.41.18-.86a9,9,0,0,1,.3-.94,11.35,11.35,0,0,1,.47-1c.19-.37.41-.77.68-1.2a1.18,1.18,0,0,0-.53.35,8.64,8.64,0,0,0-.72.79q-.39.47-.8,1c-.27.38-.53.74-.77,1.09s-.58.87-.79,1.21a2.27,2.27,0,0,1-.45.6,1.33,1.33,0,0,1-.46-.5A1.87,1.87,0,0,1,27,29a3.63,3.63,0,0,1,.09-.75,7.61,7.61,0,0,1,.23-.94,13.42,13.42,0,0,1,.76-1.89q.47-1,.91-1.8a2,2,0,0,1,.65.16,2.45,2.45,0,0,1,.61.41,4.68,4.68,0,0,1-.4.91l-.57,1q-.3.52-.54,1.05a3.87,3.87,0,0,0-.32,1.06L29.25,27q.5-.72,1-1.38a11.84,11.84,0,0,1,1-1.17,1.91,1.91,0,0,1,.93-.58,1.14,1.14,0,0,1,.33,0,1.64,1.64,0,0,1,.33.08l.26.11c.07,0,.11.07.11.1a4.33,4.33,0,0,1-.31.8L32.45,26q-.27.55-.51,1.06a3.07,3.07,0,0,0-.27.79l1.19-1.79c.37-.55.72-1,1-1.45a8.11,8.11,0,0,1,.91-1,1.79,1.79,0,0,1,.79-.46.75.75,0,0,1,.48,0,.57.57,0,0,1,.31.37,9,9,0,0,1-.39,1.1q-.27.65-.54,1.35T35,27.38a3.94,3.94,0,0,0-.22,1.16.6.6,0,0,0,.07.38A.24.24,0,0,0,35,29a.73.73,0,0,0,.29-.1.63.63,0,0,1,.2-.09.17.17,0,0,1,.09.13,1,1,0,0,1,0,.15,3.41,3.41,0,0,1-.53.44,1.33,1.33,0,0,1-.6.22,1,1,0,0,1-.5-.06.78.78,0,0,1-.32-.27A1.11,1.11,0,0,1,33.5,29a2.58,2.58,0,0,1,0-.53,4,4,0,0,1,.12-.94,9,9,0,0,1,.28-.92q.16-.44.35-.84T34.52,25Z" fill="#ff554f"/>
      <path d="M41.45,21.85a7.13,7.13,0,0,1-.29,1.7,4.91,4.91,0,0,1-.66,1.35,6.47,6.47,0,0,1-1,1.15A11.77,11.77,0,0,1,38,27.11c0,.06,0,.12,0,.18s0,.13,0,.2a3.07,3.07,0,0,0,0,.39,1.54,1.54,0,0,0,.08.36.58.58,0,0,0,.17.25.35.35,0,0,0,.29.06,1.63,1.63,0,0,0,.67-.3,4.36,4.36,0,0,0,.63-.56,7,7,0,0,0,.56-.69l.47-.67a2,2,0,0,1,.21.21,8.62,8.62,0,0,1-1.26,1.77,4.09,4.09,0,0,1-1.29,1,1.66,1.66,0,0,1-1.36-.52,2,2,0,0,1-.47-1.4,5.52,5.52,0,0,1,.16-1.23,7.9,7.9,0,0,1,.42-1.27,10,10,0,0,1,.62-1.22,8.57,8.57,0,0,1,.76-1.08,5.77,5.77,0,0,1,.83-.83,2.22,2.22,0,0,1,.84-.46A1.14,1.14,0,0,1,41.45,21.85Zm-.87.75a2.52,2.52,0,0,0-.71.52,4.88,4.88,0,0,0-.7.89,8.33,8.33,0,0,0-1,2.52,7.46,7.46,0,0,0,1.7-1.83A4.27,4.27,0,0,0,40.58,22.6Z" fill="#ff554f"/>
      <path d="M9.2,0A4.26,4.26,0,0,0,8,.53c-.85.36-1.71.7-2.57,1L1.64,3c-.34.13-.26,1.36.15,1.21L5.24,2.89l.44-.17C-1.4,6.91-1.34,14.39,3,20.8c.21.32.38-.63.22-.86-2.38-3.51-4.11-7.71-2-11.83A11.28,11.28,0,0,1,6,3.57,8.21,8.21,0,0,0,5,5.36c-.12.32.16,1.5.39.88A11.12,11.12,0,0,1,8.16,2.38C8.58,2,9.4,1.45,9.47.79,9.48.63,9.49,0,9.2,0ZM6.35,3a.81.81,0,0,0-.13-.53l.85-.34C6.82,2.44,6.58,2.73,6.35,3Z" fill="#ff554f"/>
    </svg>
  </div>
  <div id="clickMeAgain">
    <img src="pictures/click_me_again.svg" alt="click me again button">
  </div>
</div>
</div>
